

html,
body {
  min-height: 100vh;
  height: 100%;
  background-color: #fff;
}
* {
  margin: 0;
  padding: 0;
}
header {
  color: white;
  height: 70px;
  background-color: #fff;
  line-height: 90px;
}
.main{
  height: 1100px;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
#root {
  height: 100%;
}
.App{
  background-color: white;
  color: black;
}
.dark{
  background-color: black;
  color: white;
}