.root {
    height: 80px;
    width: 100%;
    
    &__left{
        float: left;
        
        width: 50%;
    }
    &__right{
        float: right;
         

    }
}
input[type="text"] {
    width: 400px;
    height: 30px;
}
button {
    width: 30px;
    height: 30px;
    
}